body {
  margin: 50px;
}

#main {
  width: 500px;
  margin: 0px auto;
}

#main input {
  width: 100%;
}

#settings {
  background-color: #eee;
  padding: 0 20px;
}

#timers {
  margin: 0;
  padding: 0;
}

#timers li {
  list-style-type: none;
}

#timers span {
  float: right;
}

#timers progress {
  width: 100%;
}
